<!DOCTYPE html>
<html lang="en">
  <head>
{% block header %}
    <meta charset="utf-8">
    <title>51代理ip - 免费http代理ip|匿名代理ip|高匿代理IP|ip专业销售网站|换IP工具|</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/bootstrapSwitch.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/assets/ico/favicon.png">

{% endblock %}

  </head>

  <body>
    <div class="container">

    {% block nav %}

      <div class="masthead">
        <h3 class="muted">
        	<div>
        		<img src="/static/img/logo1.jpg" alt="IP接口" width="120" height="40" />
        		<b style="font-size: 48px; font-family:'宋体',Arial;font-weight:bold;">无忧代理IP接口站</b>
        	</div>
		</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li {% if page == "/" %} class="active" {% endif %} ><a href="/">首页</a></li>
                <li {% if page == "/getip/" %} class="active" {% endif %} ><a href="/getip/">提取</a></li>
                <li {% if page == "/help/" %} class="active" {% endif %} ><a href="/help/">教程</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
      
    {% endblock %}
    

    {% block middle %}
    {% endblock %}

	{% block info %}
	

			
	{% endblock %}
        
	{% block footer %}
	<div class="footer">
	  <p>&copy; Company 2013</p>
	</div>
	{% endblock %}
	
    </div> <!-- /container -->

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">提取结果</h3>
	  </div>
	  <div class="modal-body">
	  	<div class="well" >
	  		http://api.51proxyip.com/aregs/10
	  	</div>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <button class="btn btn-primary">Save changes</button>
	  </div>
	</div>
		
	{% block footer_js %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-alert.js"></script>
    <script src="/static/assets/js/bootstrap-modal.js"></script>
    <script src="/static/assets/js/bootstrap-dropdown.js"></script>
    <script src="/static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/static/assets/js/bootstrap-tab.js"></script>
    <script src="/static/assets/js/bootstrap-tooltip.js"></script>
    <script src="/static/assets/js/bootstrap-popover.js"></script>
    <script src="/static/assets/js/bootstrap-button.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/assets/js/bootstrap-carousel.js"></script>
    <script src="/static/assets/js/bootstrap-typeahead.js"></script>
    
    <script src="/static/js/bootstrapSwitch.js"></script>
	<script src="/static/js/common.js"></script>
	{% endblock %}
  </body>
</html>
