﻿{% extends "base.html" %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block middle %}
<style>

.error .controls .btn-group{
border: 1px solid #b94a48;

}


.form-horizontal .controls {
margin-left: 60px;
}

.form-horizontal .control-label {
  width: 60px;
}

.control-group .switch{
 margin-top: 3px;
 vertical-align: top;
}

.list-check span{
width: 100px;
height: 20px;
display: block;
float: left;
vertical-align:text-bottom;
}

.list-check a{
font-size: 10px;
}

.list-check input{
font-size: 10px;
vertical-align: top;
}

.list-check font{
font-size: 10px;
overflow: hidden;
width: 50px;
height: 20px;

}


</style>

<div class="well" >

<div class="row-fluid">
  <div class="span6">
		        <div class="alert-block">
		        	系统库存：{{ sum }} 
		        </div>
		        
				<form class="form-horizontal" id="ipform">
				
				  <div class="control-group" id="ctrls_num">
				    <label class="control-label" for="inputPassword">订单号：</label>
				    <div class="controls">
				      <input type="text"  id="get_tid" placeholder="XXXXXXXXXXX" value="">
				      	不懂什么是订单号点击说明
				    </div>
				  </div>
				
				  <div class="control-group" id="ctrls_port">
				    <label class="control-label" for="btns-port" >端口：</label>
				    <div class="controls list-check" >
				    	
						{% for k, v in ports.iteritems() %}
						  <span><input type="checkbox" checked="checked"><a title="{{k}}"><font>&nbsp;{{k|truncate(2, True, end='')}}</font>【{{ v }}】</a></span>
						{% endfor %}
				    </div>
				  </div>
				  
				  <div class="control-group" id="ctrls_area">
				    <label class="control-label" >省份：</label>
				    <div class="controls list-check">
						{% for k, v in provinces.iteritems() %}
						  <span><input type="checkbox" checked="checked"> <a title="{{k}}"><font>{{k|truncate(2, True, end='')}}</font>【{{ v }}】</a></span>
						{% endfor %}
				    </div>
				  </div>
				  
				  
				  <div class="control-group" id="ctrls_type">
				    <label class="control-label" >运营商：</label>
				    <div class="controls list-check">
						{% for k, v in types.iteritems() %}
						  <span><input type="checkbox" checked="checked"> <a title="{{k}}"><font>{{k|truncate(2, True, end='')}}</font>【{{ v }}】</a></span>
						{% endfor %}
				    </div>
				  </div>

				  <div class="control-group" id="ctrls_num">
				    <label class="control-label" for="inputPassword">数量：</label>
				    <div class="controls">
				      <input type="text"  id="get_num" placeholder="100" value="10">
				    </div>
				  </div>

				  <div class="control-group" id="ctrls_num">
				    <label class="control-label" for="inputPassword">过滤：</label>
				    <div class="controls">
				      <input type="text"  id="get_delay" placeholder="5" value="10">
				      	几分钟前提取过不提取
				    </div>
				  </div>
				  
				  <div class="control-group">
				    <div class="controls">
				      <!-- Button to trigger modal -->
					  <button type="button" id="btn_getip" onclick="ajax_getip()" data-loading-text="loading..." class="btn btn-success">
		                	提取IP
		              </button>
		                
				    </div>
				  </div>
				</form>

				<div id="alert-div" class="alert alert-error" style="display: none;">
				          错误！！！！
				</div>
				
				<b>API地址：</b>
				<textarea id="api_url" style="width: 100%;" rows="5"></textarea>
				
				<br />
				
				<b>得到的IP地址</b>
		        <div class="alert alert-success" id="get_info">
		        </div>

  </div>
  <div class="span6">
	<H2>特别说明</H2>
	<DIV id=intro>
		<UL>
		  <LI>全网独创IP提取实时有效性校验系统，保证在提取的时候所有IP地址均为有效地址，您无需再对导出结果进行验证。</LI>
		  <LI>本站所出售IP地址均为设置在上海电信机房骨干网络的两台服务器24小时扫描而来，绝对是一手资源。</LI>
		  <LI>本站所售代理IP可用于网络投票、论坛发帖等，但不能用于番墙，不能用于QQ刷砖，请看清楚再买。</LI>
		  <LI>IP时效几分钟到几小时不等，平均有2-3小时。最适合需要频繁变换IP，却用时不长的朋友们。</LI>
		  <LI>购买请到本站淘宝网店</LI>
		</UL>
	</DIV>
  
  </div>
</div>


     </div>
{% endblock %}

{% block info %}
    {{ super() }}
{% endblock %}


{% block footer_js %}
    {{ super() }}
<script>
$(document).ready(function(){
	$('#switch_port').on('switch-change', function (e, data) {
		//switch_div_show($("#btns-port"), data);
	});
	//$('#switch_area').on('switch-change', function (e, data) {
		//switch_div_show($("#btns-provice"), data);
	//});
	$('#switch_type').on('switch-change', function (e, data) {
		//switch_div_show($("#btns-type"), data);
	});
});


function switch_div_show($div_id, data){
    if(data.value == false){
    	$div_id.show("slow");
    }else{
    	$div_id.hide("slow");
    }
    console.log(data);	
}

</script>
{% endblock %}

