{% extends "base.html" %}


{% block header %}
{{super()}}
{% endblock %}



{% block middle %}

	<div id="chart_all" style="width:100%; height:300px;"> 
	
	</div>
	
	<br />
     
	<div id="chart_port" style="width:100%; height:300px;"> 
	
	</div>
	<br />
      <div class="well" >
      	
      	本站说明：
     </div>
{% endblock %}



{% block info %}
{% endblock %}

{% block footer_js %}
{{super()}}
<script src="/static/highstock/js/highstock.js"></script>
<script src="/static/highstock/js/themes/gray.js"></script>
<script>

$(document).ready(function() { 
	$.getJSON("/api/tongji/", function(data){
		console.log(data);
		renderTongji([data.shift()], "chart_all", "代理ip数量统计表");
		renderTongji(data, "chart_port", "端口统计");
	});
});

function renderTongji(data, tag_id, title_str){
	var chart2 = new Highcharts.StockChart({
	            chart: {
	                renderTo: tag_id
	            },
	            rangeSelector: {
	                selected: 1,
	                inputEnabled: false
	            },
	            
	            navigator: {
	                height: 30
	            },
	            
	            title: {
	                text: title_str,
	                floating: true,
	                align: 'right',
	                x: -20,
	                top: 20
	            },
	            
	            xAxis: {
	            	//min: 1363701601,
	            	//max: 1363891601
	                //maxZoom: 365 * 24 * 3600000 // fourteen days
	            },
	            
	            series:data
	});
}
</script>
{% endblock %}



