      <div class="api_intro_wrapper">
        <div class="group">
          <h4 class="nav_mod_t"><font color="#FF0000">1.淘宝的订单号在哪里？</font></h4>
          <div class="todoList">
            <h3 class="">１.拍下宝贝后即可使用，在“我的淘宝”-&gt;已经买到的宝贝中，找到订单号。</h3>
          </div>
          <p class="dev_tip"><img style="border:0" src="./HTTP代理 全国Http代理 免费Http代理-全国Http代理提取_files/order.gif"></p>
          <div class="todoList">
            <h3 class="">２.打开网站<font color="#FF0000">www.daili999.com</font>根据需要设置提取的数量和过滤的条件，添写订单号提取。</h3>
          </div>
          <p class="dev_tip"><img style="border:0" src="./HTTP代理 全国Http代理 免费Http代理-全国Http代理提取_files/myget.gif"></p>
          <h4 class="nav_mod_t"><font color="#FF0000">2.花刺代理验证使用方法!</font></h4>
           <div class="todoList">
            <h3 class="">1.下载花刺代理验证软件，下载地址：http://www.onlinedown.net/soft/200488.htm</h3>
          </div>
          <div class="todoList">
            <h3 class="">2.首先打开花刺代理，点击设置。
</h3>
          </div>
          <p class="dev_tip"><img style="border:0" src="./HTTP代理 全国Http代理 免费Http代理-全国Http代理提取_files/1.gif"></p>
          <div class="todoList">
            <h3 class="">2.点击添加验证。</h3>
          </div>
          <p class="dev_tip"><img style="border:0" src="./HTTP代理 全国Http代理 免费Http代理-全国Http代理提取_files/2.gif"></p>
          <div class="todoList">
            <h3 class="">3.验证资源：baidu,验证资源网址：http://www.baidu.com，特征字串符：“鐧惧害涓€涓嬶紝浣犲氨鐭” 点击OK。</h3>
          </div>
          <p class="dev_tip"><img style="border:0" src="./HTTP代理 全国Http代理 免费Http代理-全国Http代理提取_files/3.gif"></p>
          <div class="todoList">
            <h3 class="">4.取消其他选项前,在baidu前打对号。。在网站提取代理.导入即可</h3>
          </div>
          <p class="dev_tip"><img style="border:0" src="./HTTP代理 全国Http代理 免费Http代理-全国Http代理提取_files/4.gif"></p>
          
        </div>
      </div>